@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    li{
        @apply px-4;
        @apply cursor-pointer;
    }
    }
    body{
        background: #3a6186;  
        background: -webkit-linear-gradient(to right, #89253e, #3a6186);  
        background: linear-gradient(to right, #89253e, #3a6186); 
        
        
    }
    .git{
        margin-left:-100px;
        transition-property: margin-left;
        transition-duration: 0.6s;
    }
.git:hover{
    margin-left:0px;
}
.project{
    transition:transform 1s !important;
}
.project:hover{ 
/* background-color: black !important; */
transform: scale(1.15) !important;
}
  
   
    
    .content-div{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 250px;
    };
    